body {
  margin: 10px;
}

.container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.container video {
  width: 400px;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

p {
  color: orange;
}

/* Selectors - Type, ID, Class, Attributes */
/* id must be unique */
#product {
  color: burlywood;
}

.product {
  font: size 50px;
}
a[target="_blank"] {
  color: aquamarine;
}

a[href*="google"] {
  color: orange;
}

a[href^="https"] {
  color: orange;
}
