p {
  text-align: center;
  text-shadow: 5px 0 gray;
  text-orientation: sideways;
  margin-top: 200px;
  padding-top: 100px;
  font-size: 50px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  /* background: rgb(238, 163, 163);
  */
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgb(203, 201, 201);
  border: 10px solid rgb(246, 183, 82);
  overflow: hidden;
  overflow: scroll;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 74%);
}

.box {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  /* display: inline-block; */
}
